<h1> hi from the pizza file :) pizza time 🍕</h1>
<ol>
  <% @pizzas.each do |pzah| %>
  <li>   <%= pzah.topping %></li><button type="button" name="button"> BALASTA that pizza</button>
  <% end %>
</ol>
