<h2> MAKE A NEW ZAH</h2>

<form class="" action="/pizzas" method="post">
  <label for="">toppings</label><input type="text" name="topping" value="">
  cheese<input type="text" name="cheese" value="">
  <input type="submit" name="" value="submit">
</form>
